{
  "extends": [
    "plugin:jsx-a11y/recommended",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "jest/globals": true,
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "2017"
  },
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": ["en.json", "fr.json"],
  // unneed rule causing errors with eslint/jest
  "rules": {
    "jest/valid-describe": "off",
    "react/default-props-match-prop-types": [
      0,
      {
        "allowRequiredDefaults": true
      }
    ],
    "@typescript-eslint/ban-ts-comment": "off"
  },
  "plugins": ["@typescript-eslint", "jest"],
  "root": true
}
