{
  "extends": [
    "react-app",
    "react-app/jest",
    "plugin:jsx-a11y/recommended"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "2015"
  },
  // unneed rule causing errors with eslint/jest
  "rules": {
    "jest/valid-describe": "off"
  }
}