.bannerBg {
  background-image: url("../assets/bg-banner-v2.png");
}

/* Uses mobile background on smaller screens*/
@media (max-width: 449px) {
  .bannerBg {
    background-image: url("../assets/bg-banner-mobile.png");
  }
}

/* class to hide elements from visually but allow content to be read out by screen readers */
.hide-element {
  clip: rect(1px, 1px, 1px, 1px);
  height: 0px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  width: 0px;
}
