@tailwind screens;

.ds-headerNav {
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
}

.ds-buttonNav.active {
  background-color: #ebf2fc;
  color: rgba(55, 65, 81, var(--tw-text-opacity));
}

.ds-menuButtonParent.active {
  background-color: #ebf2fc;
  color: rgba(55, 65, 81, var(--tw-text-opacity));
}

.subMenu {
  padding: 20px 18px 20px 40px;
  left: 0%;
  right: 0%;
  top: 21.28%;
  bottom: 0%;
  background: #ebf2fc;
}
.ds-menuHeader {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28.8px;
  margin-bottom: 0;
  color: #ffffff;
}
nav {
  line-height: 28px;
  width: 100%;
}

.ds-menuDropdown {
  display: none;
}

.ds-menuDropdown.active {
  background: #ebf2fc;
  color: #333333;
}

.ds-menuLink:hover > a {
  color: #0a75c6;
}

.ds-activePage > a {
  border-bottom: 4px solid #1d5b90;
}

.active {
  display: block;
}

@screen md {
  #menuButton,
  #closeMenu {
    display: none;
  }

  .ds-menuDropdown {
    display: inline-block;
    position: static;
    min-width: fit-content;
    min-height: fit-content;
  }

  .ds-menuDropdown > li {
    padding-left: 2rem;
  }
  .ds-menuDropdown.menuRight > li {
    padding-left: 0;
  }
}

@media (max-width: 320px) {
  #menuButtonParent {
    padding-right: 0 !important;
  }
}
@media (max-width: 768px) {
  #menuDropdownSub li,
  #menuButtonParent,
  #dropdownNavbar li:not(:last-child) {
    border-style: solid;
    border-width: 0 0 1px 1px;
    border-bottom-color: #38414d;
  }
  #dropdownNavbar li:first-child {
    border-width: 1px 0 1px 0;
    border-color: #38414d;
  }
  #buttonNav {
    padding-top: 0;
    padding-bottom: 0;
  }
}
