@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@layer base {
  /* Font families */
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-display font-semibold;
  }
  h6 {
    @apply font-display;
  }
  p {
    @apply font-body;
  }
  /* Font sizes */
  h1 {
    @apply text-h1;
  }
  h2 {
    @apply text-h2;
  }
  h3 {
    @apply text-h3;
  }
  h4 {
    @apply text-h4;
  }
  h5,
  p {
    @apply text-p;
  }
  h6 {
    @apply text-base;
  }
  /*Focused*/
  h1:focus {
    @apply ring-1;
  }
}

@layer utilities {
  /*Bootstrap grids for default page layout*/

  .bootstrap5-grid {
    @apply grid grid-cols-12 gap-6;
  }

  .bootstrap3-grid {
    @apply grid grid-cols-12 gap-30px;
  }

  /* Text Button Field utilities */

  .textbuttonField > p {
    @apply text-sm leading-normal font-normal font-body py-4;
  }

  .textbuttonField > h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-4;
  }
}
