.card {
    width: 100%;
    border: 1px solid rgba(221, 221, 221, 1);
    border-radius: 6px;
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.1);

    &:hover {
        border: 1px solid rgba(14,98,201,1);
        box-shadow: 0px 0px 6px rgba(14,98,201,1);
    }

    &:hover .title {
        color: #0535D2
    }

    &--standard {
        @media (min-width: 640px) {
            max-width: 360px;
        }
    }

    &--large {
        @media (min-width: 640px) {
            max-width: 555px;
        }
    }
}

.image-container {
    display: flex;
    width: 100%;
    background-color: rgba(238, 237, 237, 1);
    &--standard {
        @media (min-width: 640px) {
            max-height: 208px;
        }
    }

    &--large {
        @media (min-width: 640px) {
            max-height: 321px;
        }
    }
}

.title {
    color: #284162;
    text-decoration: underline;
    font-family: "Lato";
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;

    &:hover {
        color: #0535D2
    }
}

.body {
    display: flex;
    flex-direction: column;
    padding: 20px 24px 0px 24px;
    gap: 6px;
}

.description {
    font-family: Noto Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 4px;
    color: rgba(85, 85, 85, 1);
    padding-bottom: 20px;
}