<!DOCTYPE html>
<html>

<!-- When using this html, make sure to includes these links -->

<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <!-- Developer Note: google fonts load these in at project level -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:wght@400;700&family=Rubik:wght@500&display=swap"
    rel="stylesheet">
  <link href="footer.css" rel="stylesheet" type="text/css" />
</head>

<!-- html for the footer -->
<footer class="footer-container max-width-wrapper">
  <section class="footer-top breakpoint">
    <dl class="date-modified">
      <!-- French Text: Date de modification : -->
      <dt class="date-text">Date Modified:</dt>
      <dd>
        <!-- Developer Note: referenece dateModfied property with ur
        date modified variable and Remove temporary placeholder for
        time "2021-10-21" -->
        <time class="date-text" property="dateModified">2021-10-21</time>
      </dd>
    </dl>
  </section>
  <div class="footer-bottom">
    <div class="footer-bottom-first">
      <section class="icon-section breakpoint">
        <!-- French Text: À propos de ce site Médias sociaux -->
        <h2 class="hide-element">About This Site Social Media</h2>
        <!-- French Text: Médias sociaux -->
        <p class="icon-heading-text">Social Media</p>
        <ul class="icon-group list-styles text-styles">
          <li>
            <a href="https://www.facebook.com">
              <!-- French Text: Accéder à Facebook-->
              <img src="../../../assets/facebook.svg" alt="Go to Facebook">
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com">
              <!-- French Text: Accéder à Instagram-->
              <img src="../../../assets/instagram.svg" alt="Go to Instagram">
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com">
              <!-- French Text: Accéder à Linkedin-->
              <img src="../../../assets/linkedin.svg" alt="Go to Linkedin">
            </a>
          </li>
          <li>
            <a href="https://twitter.com">
              <!-- French Text: Accéder à Twitter-->
              <img src="../../../assets/twitter.svg" alt="Go to Twitter">
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com">
              <!-- French Text: Accéder à Youtube-->
              <img src="../../../assets/youtube.svg" alt="Go to Youtube">
            </a>
          </li>
        </ul>
      </section>
      <section class="link-section breakpoint">
        <!-- French Text: À propos de ce site -->
        <h2 class="hide-element">About this site</h2>
        <ul class="link-group link-text list-styles">
          <li>
            <a class="text-styles"
              href="https://www.canada.ca/en/employment-social-development/corporate/portfolio/service-canada.html">About
              Service Canada</a>
            <span aria-hidden="true" class="spacer">•</span>
          </li>
          <li>
            <!-- French Text: À propos de Canada.ca -->
            <a class="text-styles" href="https://www.canada.ca/en/government/about.html">About Canada.ca</a>
            <span aria-hidden="true" class="spacer">•</span>
          </li>
          <li>
            <!-- French Text: Confidentialité -->
            <a class="text-styles" href="https://www.canada.ca/en/transparency/privacy.html">Privacy</a>
            <span aria-hidden="true" class="spacer">•</span>
          </li>
          <li>
            <!-- French Text: Avis -->
            <a class="text-styles" href="https://www.canada.ca/en/transparency/terms.html">Terms & Conditions</a>
          </li>
        </ul>
      </section>
      <!-- French Alt Text: Symbole du gouvernement du Canada -->
      <img class="logo-mobile" src="../../../assets/gc-logo.svg" alt="Canada.ca Logo">
    </div>
    <!-- French Alt Text: Symbole du gouvernement du Canada -->
    <img class="logo" src="../../../assets/gc-logo.svg" alt="Canada.ca Logo">
  </div>

  <!-- Developer Note: Need to add a link here for the href to link back to top of page or header -->
  <a class="btn btn-text text-styles" href="Add a link to the header/top of the page">
    <!-- French Text: Haut de la page -->
    Top of Page
    <img class="btn-icon" src="../../../assets/up-arrow.svg" alt="Up Arrow">
  </a>
</footer>

</html>