<!DOCTYPE html>
<html>

<!-- When using this html, make sure to includes these links -->

<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <!-- Developer Note: google fonts load these in at project level -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:wght@400;700&family=Rubik:wght@500&display=swap"
    rel="stylesheet">
  <link href="footer.css" rel="stylesheet" type="text/css" />
</head>

<!-- html for the footer -->
<footer class="footer-container">
  <section class="footer-top">
    <h2 class="hide-element">Last Modified Date</h2>
    <dl class="date-modified">
      <dt class="date-text">Date Modified:</dt>
      <dd>
        <!-- Developer Note: referenece dateModfied property with ur
        date modified variable and Remove temporary placeholder for
        time "2021-10-21" -->
        <time class="date-text" property="dateModified">2021-10-21</time>
      </dd>
    </dl>
  </section>
  <div class="breakpoint"></div>
  <section class="footer-bottom">
    <section class="footer-bottom-first">
      <section class="icon-section">
        <h2 class="hide-element">About Social Media Platforms</h2>
        <p class="icon-heading-text">Follow Us</p>
        <ul class="icon-group list-styles text-styles">
          <li>
            <a href="https://www.facebook.com">
              <img src="../../../assets/facebook.png" title="Facebook Icon" alt="Facebook Icon">
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com">
              <img src="../../../assets/instagram.png" alt="Instagram Icon">
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com">
              <img src="../../../assets/linkedin.png" alt="Linkedin Icon">
            </a>
          </li>
          <li>
            <a href="https://twitter.com">
              <img src="../../../assets/twitter.png" alt="Twitter Icon">
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com">
              <img src="../../../assets/youtube.png" alt="Youtube Icon">
            </a>
          </li>
        </ul>
      </section>
      <div class="breakpoint"></div>
      <section class="link-section">
        <h2 class="hide-element">Links for about this site</h2>
        <ul class="link-group link-text list-styles">
          <li>
            <a class="text-styles"
              href="https://www.canada.ca/en/employment-social-development/corporate/portfolio/service-canada.html">About
              Service Canada</a>
            <span aria-hidden="true" class="spacer">•</span>
          </li>
          <li>
            <a class="text-styles" href="https://www.canada.ca/en/government/about.html">About Canada.ca</a>
            <span aria-hidden="true" class="spacer">•</span>
          </li>
          <li>
            <a class="text-styles" href="https://www.canada.ca/en/transparency/privacy.html">Privacy</a>
            <span aria-hidden="true" class="spacer">•</span>
          </li>
          <li>
            <a class="text-styles" href="https://www.canada.ca/en/transparency/terms.html">Terms & Conditions</a>
          </li>
        </ul>
      </section>
      <div class="breakpoint"></div>
      <img class="logo-mobile" src="../../../assets/MobileLogo.png" alt="Canada.ca Logo">
    </section>
    <img class="logo" src="../../../assets/GC logo.png" alt="Canada.ca Logo">
  </section>

  <!-- Developer Note: Need to add a link here for the href to link back to top of page or header -->
  <a class="btn btn-text text-styles" href="Add a link to the header/top of the page">
    Top of Page
    <img class="btn-icon" src="../../../assets/btnArrow.png" alt="Up Arrow">
  </a>
</footer>

</html>