<!DOCTYPE html>
<html>
<!-- footer css file -->

<head>
  <link href="footer.css" rel="stylesheet" type="text/css" />
</head>
<!-- Main div holding footer component-->
<div class="footer-container">
  <!-- top section of the footer -->
  <div class="top-footer">
    <a>Date modified: 2021-02-27</a>
  </div>
  <!-- line to separate sections of footer -->
  <div class="breakpoint"></div>
  <!-- line to separate sections of footer. Mobile version-->
  <div class="mobile-breakpoint"></div>
  <!-- Bottom section of the footer -->
  <div class="bottom-footer">
    <!-- bottom footer first section with icons and links -->
    <div class="bottom-footer-first">
      <!-- icon section -->
      <div class="icon-section">
        <a class="icon-heading">Follow Us</a>
        <div class="icon-group">
          <img src="../../../assets/facebook.png">
          <img src="../../../assets/instagram.png">
          <img src="../../../assets/linkedin.png">
          <img src="../../../assets/twitter.png">
          <img src="../../../assets/youtube.png">
        </div>
      </div>
      <!-- line to separate sections of footer. Mobile version--->
      <div class="mobile-breakpoint"></div>
      <!-- links section browser-->
      <div class="sub-footer-links">
        <a>About Service Canada</a>
        <a>•</a>
        <a>About Canada.ca</a>
        <a>•</a>
        <a>Privacy</a>
        <a>•</a>
        <a>Terms & Conditions</a>
      </div>
      <!-- links section mobile-->
      <div class="sub-footer-links-mobile">
        <a>About Service Canada</a>
        <a>About Canada.ca</a>
        <a>Privacy</a>
        <a>Terms & Conditions</a>
      </div>
      <!-- line to separate sections of footer. Mobile version--->
      <div class="mobile-breakpoint"></div>
      <img class="logo-mobile" src="../../../assets/MobileLogo.png">
    </div>

    <!-- Bottom footer second section with logo -->
    <img class="logo" src="../../../assets/GC logo.png">
  </div>
  <button>
    <a class="btn-text">Top of Page <img class="btn-arrow" src="../../../assets/Polygon 1.png"></a>
  </button>
</div>

</html>