a {
  text-decoration: none;
  color: #262626;
}
ul {
  list-style: none;
}
/* class to hide elements from visually but allow content to be read out by screen readers */
.hide-element {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

/* Main container surrounding whole footer */
.footer-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 0 20px 0 20px;
  margin: 0;
}

/* button styling */
.btn {
  border: 1.5px solid #26374a;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: white;
  height: 42px;
  width: 100%;
  padding: 7px 0 9px 0;
  text-align: center;
}
.btn-text {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.0025em;
  color: #262626;
}
.btn-icon {
  position: relative;
  float: right;
  padding-top: 5px;
  padding-right: 5px;
}
.btn:hover {
  opacity: 0.5;
}

/* lines separating areas of the footer */
.breakpoint {
  border-top: 1px solid #d0d0d0;
  margin-top: 24px;
  margin-bottom: 24px;
}
/* icon styling */
.icon-heading-text {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.0025em;
}
.icon-group {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 16px;
}

/* link styling */
.link-section {
  display: flex;
  flex-direction: column;
}
.link-text {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
}
.link-group {
  padding-left: 0;
}
.spacer {
  display: none;
}

/* switch icons from desktop to mobile */
.logo {
  display: none;
}
.logo-mobile {
  width: 89px;
  height: 23.88px;
  margin-bottom: 30px;
  display: flex;
}

/* Large screen */
@media screen and (min-width: 850px) {
  /* main container for footer on larger screen */
  .footer-container {
    height: 220px;
  }
  /* don't display button on larger screens */
  .btn {
    display: none;
  }
  /* larger screens don't have break points */
  .breakpoint {
    display: none;
  }
  /* link styling */
  .link-section {
    justify-content: space-between;
    padding-top: 48px;
  }
  .link-section li {
    display: inline;
  }
  .link-text {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
  }
  .spacer {
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
  }
  /* Styling for main footer sub sections */
  .footer-top {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.0025em;
    color: #595959;
    margin-bottom: 28px;
    padding: 0 150px 0 150px;
  }
  .footer-bottom {
    display: flex;
    flex-direction: row;
    margin-top: 28px;
    padding: 0 150px 0 150px;
  }
  .footer-bottom-first {
    width: 600px;
  }

  /* icon styling */
  .icon-section {
    max-width: 280.52px;
    max-height: 71px;
  }
  .icon-heading-text {
    line-height: 30px;
  }

  /* 102-28 padding, bottom footer accounts for 28 */
  .logo {
    display: flex;
    max-width: 167.84px;
    max-height: 40px;
    margin-left: auto;
    padding-top: 74px;
  }
  .logo-mobile {
    display: none;
  }
}
