#date-month select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.dropdownPos {
  position: absolute;
  left: 136px;
  top: 48px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
